body {
    background: -moz-linear-gradient(top, 
        #09396a 0%, 
        #2c7fc1 65%, 
        #09396a 100%);
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#09396a), 
        color-stop(65%,#2c7fc1), 
        color-stop(100%,#09396a));
    overflow: hidden;
}

.blur-wrap {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
    opacity: 0.5;
    
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    
    -webkit-filter: blur(15px); 
    -moz-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    filter: url(effect.svg#blur-more);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');
}

.bg-anim1 {
    position: absolute;
    z-index: 2;
    bottom: -300px;
    left: -300px;
    font-size: 600px;
    opacity: 0.3;
}

.login-icon {
    position: absolute;
    z-index: 2;
    left: 108px;
    top: 30%;
    font-size: 60px;
    margin-top: -20px;
    opacity: 0.9;
}

.login-title {
    position: absolute;
    z-index: 3;
    left: 190px;
    top: 30%;
    font-size: 54px;
    
    -webkit-text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.login-panel {
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 0px;
    
    height: 100%;
    width: 38%;
    min-width: 360px;
    padding-left: 45px;
    
    color: #4d4d4d;
    font-size: 18px;
    line-height: 24px;
    
    background-color: #f7f7f7;
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#f1f1f1),to(#ffffff));
    background-image:-moz-linear-gradient(top,#f1f1f1,#ffffff);
    background-image:linear-gradient(to bottom,#f1f1f1,#ffffff);
}

.login-space {
    height: 28.5%;
}
.login-panel h1 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 20px;
    color: #4d4d4d;
    -webkit-text-shadow: none;
    -moz-text-shadow: none;
    text-shadow: none;
}

.login-label {
    margin-top: 20px;
    margin-bottom: 6px;
    display: block;
}

.login-input {
    width: 80%;
    border: 1px solid #aaa;
    padding: 5px 8px;
    font-size: 16px;
    color: #4d4d4d;
}

.login-error {
    margin-left: 5px;
    color: red;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.login-submit {
    margin-top: 30px;
}

.login-submit button {
    position: relative;
    padding: 8px 52px 4px 12px;
    font-size: 24px;
    line-height: 26px;
    
    color: #fff;
    border: 1px solid #07edff;
    
    background-color: #2c7fc1;
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#09396a),to(#2c7fc1));
    background-image:-moz-linear-gradient(top,#09396a,#2c7fc1);
    background-image:linear-gradient(to bottom,#09396a,#2c7fc1);
    
    -webkit-box-shadow:inset 0 0 16px rgba(110,194,242, 0.7);
    -moz-box-shadow:inset 0 0 16px rgba(110,194,242, 0.7);
    box-shadow:inset 0 0 16px rgba(110,194,242, 0.7);
    
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    transition: all 600ms ease;
}

.login-submit button span {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 18px;
    line-height: 20px;
    opacity: 0;
    
    -webkit-transition: all 600ms ease;
    -moz-transition: all 600ms ease;
    transition: all 600ms ease;
}

.login-submit button:hover {
    padding: 8px 10px 4px 54px;
    
    -webkit-box-shadow:inset 0 0 16px rgba(110,194,242, 0.9);
    -moz-box-shadow:inset 0 0 16px rgba(110,194,242, 0.9);
    box-shadow:inset 0 0 16px rgba(110,194,242, 0.9);
}

.login-submit button:hover span {
    opacity: 1;
}



