html, body {
    overflow: hidden;
}


/* The shiny background 
 ***********************/
.bg-flow {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    opacity: 1;
    
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#4477a0), 
        color-stop(30%,#88b9c7), 
        color-stop(60%,#8fb4d4), 
        color-stop(80%,#8290c8), 
        color-stop(100%,#254079));
    background: -webkit-linear-gradient(top, 
        #4477a0 0%, 
        #88b9c7 30%, 
        #8fb4d4 60%, 
        #8290c8 80%, 
        #254079 100%);
    background: -moz-linear-gradient(top, 
        #4477a0 0%, 
        #88b9c7 30%, 
        #8fb4d4 60%, 
        #8290c8 80%, 
        #254079 100%);
    background: -ms-linear-gradient(top, 
        #4477a0 0%, 
        #88b9c7 30%, 
        #8fb4d4 60%, 
        #8290c8 80%, 
        #254079 100%);
    background: -o-linear-gradient(top, 
        #4477a0 0%, 
        #88b9c7 30%, 
        #8fb4d4 60%, 
        #8290c8 80%, 
        #254079 100%);
    background: linear-gradient(top, 
        #4477a0 0%, 
        #88b9c7 30%, 
        #8fb4d4 60%, 
        #8290c8 80%, 
        #254079 100%);

    /*
    background: -moz-linear-gradient(top, 
        #09396a 0%, 
        #2c7fc1 35%, 
        #09396a 100%);
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,#09396a), 
        color-stop(35%,#2c7fc1), 
        color-stop(100%,#09396a));
    */
    
    /* beautiful bg gardient
    background: -webkit-linear-gradient(left,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
    background: -moz-linear-gradient(left,rgba(153,93,179,0.6),rgba(44,155,219,0.6));
    */
    
    /* beautiful border gardient
    background-image: -webkit-linear-gradient(left,#d8225e,#b73794,#7254b6,#3981d1,#3bbfee);
    background-image: -moz-linear-gradient(left,#d8225e,#b73794,#7254b6,#3981d1,#3bbfee);
    background-image: -o-linear-gradient(left,#d8225e,#b73794,#7254b6,#3981d1,#3bbfee);
    background-image: linear-gradient(to right,#d8225e,#b73794,#7254b6,#3981d1,#3bbfee);
    -webkit-box-shadow: 0 0 3px 0 rgba(255,255,255,0.2);
    -moz-box-shadow: 0 0 3px 0 rgba(255,255,255,0.2);
    box-shadow: 0 0 3px 0 rgba(255,255,255,0.2);    
    */
}


/* Background spark
 *******************/
.bg-spark {
    position: relative;
    left: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.bg-spark img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    opacity: 0;
	filter: alpha(opacity=0);
    
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
    
    -webkit-perspective: none !important;
    -moz-perspective: none !important;
    -ms-perspective: none !important;
    -o-perspective: none !important;
    perspective: none !important;
}


/* Main wrap
 ************/
.wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
}

.main {
    position: relative;
    height: 100%;
    margin-left: 240px;
}

.main iframe {
    position: absolute;
    z-index: 106;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


/* Rotated logo 
 ***************/
.logo-link {
    position: absolute;
    left: 0;
    bottom: 1px;
    z-index: 610;
    width: 80px;
    height: 80px;
    text-align: center;
}

.logo-link img {
    width: 80px;
    height: 80px;
}

.logo-spot {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 600;
    display: none;
    color: #fff;
    font-size: 12px;
}

.logo-spot * {
    vertical-align: middle;
}

.logo-spot i {
    font-size: 16px;
}


/* Half-side notification 
 *************************/
.upper-notification, .lower-notification {
    position: absolute;
    z-index: 500;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 22px;
    line-height: 36px;
}

.upper-notification {
    height: 140px;
    padding-top: 120px;

    background-image: -webkit-gradient(
      linear, left top, left bottom, 
      from(rgba(0, 0, 50, 0.9)),
      to(rgba(0, 0, 50, 0.01)), 
      color-stop(.7, rgba(0, 0, 32, 0.9))
    );
    background-image: -webkit-linear-gradient(
      rgba(0, 0, 50, 0.9) 70%, rgba(0, 0, 50, 0.01) 100%
    );
    background-image: -moz-linear-gradient(
      rgba(0, 0, 50, 0.9) 70%, rgba(0, 0, 50, 0.01) 100%
    );
    background-image: -ms-linear-gradient(
      rgba(0, 0, 50, 0.9) 70%, rgba(0, 0, 50, 0.01) 100%
    );
    background-image: -o-linear-gradient(
      rgba(0, 0, 50, 0.9) 70%, rgba(0, 0, 50, 0.01) 100%
    );
    background-image: linear-gradient(
      rgba(0, 0, 50, 0.9) 70%, rgba(0, 0, 50, 0.01) 100%
    );
}

.lower-notification {
    height: 180px;
    padding-top: 80px;
    
    background-image: -webkit-gradient(
      linear, left top, left bottom, 
      from(rgba(0, 0, 32, 0.01)),
      to(rgba(0, 0, 32, 0.9)), 
      color-stop(.3, rgba(0, 0, 32, 0.9))
    );
    background-image: -webkit-linear-gradient(
      rgba(0, 0, 32, 0.01) 0%, rgba(0, 0, 32, 0.9) 30%
    );
    background-image: -moz-linear-gradient(
      rgba(0, 0, 32, 0.01) 0%, rgba(0, 0, 32, 0.9) 30%
    );
    background-image: -ms-linear-gradient(
      rgba(0, 0, 32, 0.01) 0%, rgba(0, 0, 32, 0.9) 30%
    );
    background-image: -o-linear-gradient(
      rgba(0, 0, 32, 0.01) 0%, rgba(0, 0, 32, 0.9) 30%
    );
    background-image: linear-gradient(
      rgba(0, 0, 32, 0.01) 0%, rgba(0, 0, 32, 0.9) 30%
    );
}


/* User notification 
 *************************/
.user-notification {
    position: absolute;
    z-index: 290;
    right: -300px;
    top: 0;
/*    display: none;*/
    width: 280px;
    height: 100%;
    
    border: 1px solid #56dbff;
    border-right: 0;
    
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,rgba(68,119,160,0.8)), 
        color-stop(30%,rgba(136,185,199,0.8)), 
        color-stop(60%,rgba(143,180,212,0.8)), 
        color-stop(80%,rgba(130,144,200,0.8)), 
        color-stop(100%,rgba(37,64,121,0.8)));
    background: -webkit-linear-gradient(top, 
        rgba(68,119,160,0.8) 0%, 
        rgba(136,185,199,0.8) 30%, 
        rgba(143,180,212,0.8) 60%, 
        rgba(130,144,200,0.8) 80%, 
        rgba(37,64,121,0.8) 100%);
    background: -moz-linear-gradient(top, 
        rgba(68,119,160,0.8) 0%, 
        rgba(136,185,199,0.8) 30%, 
        rgba(143,180,212,0.8) 60%, 
        rgba(130,144,200,0.8) 80%, 
        rgba(37,64,121,0.8) 100%);
    background: -ms-linear-gradient(top, 
        rgba(68,119,160,0.8) 0%, 
        rgba(136,185,199,0.8) 30%, 
        rgba(143,180,212,0.8) 60%, 
        rgba(130,144,200,0.8) 80%, 
        rgba(37,64,121,0.8) 100%);
    background: -o-linear-gradient(top, 
        rgba(68,119,160,0.8) 0%, 
        rgba(136,185,199,0.8) 30%, 
        rgba(143,180,212,0.8) 60%, 
        rgba(130,144,200,0.8) 80%, 
        rgba(37,64,121,0.8) 100%);
    background: linear-gradient(top, 
        rgba(68,119,160,0.8) 0%, 
        rgba(136,185,199,0.8) 30%, 
        rgba(143,180,212,0.8) 60%, 
        rgba(130,144,200,0.8) 80%, 
        rgba(37,64,121,0.8) 100%);

    -webkit-box-shadow: 0 0 3px rgba(255,255,255,0.6);
    -moz-box-shadow: 0 0 3px rgba(255,255,255,0.6);
    -ms-box-shadow: 0 0 3px rgba(255,255,255,0.6);
    -o-box-shadow: 0 0 3px rgba(255,255,255,0.6);
    box-shadow: 0 0 3px rgba(255,255,255,0.6);
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; 
}
.user-notification-wrap {
    background-color: rgba(11, 39, 65, 0.6);
    
    -webkit-box-shadow: inset 0 0 25px rgba(68,241,255,0.4);
    -moz-box-shadow: inset 0 0 25px rgba(68,241,255,0.4);
    -ms-box-shadow: inset 0 0 25px rgba(68,241,255,0.4);
    -o-box-shadow: inset 0 0 25px rgba(68,241,255,0.4);
    box-shadow: inset 0 0 25px rgba(68,241,255,0.4);
    
    height: 100%;
    padding-top: 66px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; 
}
.user-notification-main {
    height: 100%;
    padding: 0 35px 0 16px;
    overflow: auto;
}


/* Header
 *********/
.bg-header {
    position: absolute;
    z-index: 300;
    top: 60px;
    left: 0;
    width: 100%;
    height: 2px;
    line-height: 2px;
    background: #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    font-size: 2px;
    
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}
.bg-header.bg-header-fade {
    width: 230px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
}

.caption {
    position: absolute;
    z-index: 300;
    left: 20px;
    top: 25px;
    color: #fff;
    font-size: 26px;
    line-height: 26px;
}

.profile {
    position: absolute;
    z-index: 300;
    top: 24px;
    right: 16px;
    color: #fff;
    height: 26px;
    line-height: 26px;
    font-size: 24px;
    
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.profile a {
    position: relative;
    display: inline-block;
	* display: inline;
	* zoom: 1;
    color: #fff;
    padding-left: 28px;
    margin-left: 16px;
}

.profile a i {
    position: absolute;
    top: 1px;
    left: 0;
}

.profile.profile-smaller {
    top: 8px;
    font-size: 18px;
    line-height: 20px;
}

.profile.profile-smaller a {
    padding-left: 20px;
}

.profile.profile-smaller a i {
    top: 2px;
}


/* Dock menu
 ************/
.dock {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background: transparent;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0.5;
	filter: alpha(opacity=50);
}

.dock a {
    display: block;
    color: #fff;
    font-size: 24px;
    line-height: 48px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    /*
    * margin-top: expression(this.previousSibling==null?'75px':'0');
    */
}

.dock a:first-child {
    margin-top: 75px;
}

.dock a * {
    vertical-align: middle;
}

.dock a i {
    font-size: 32px;
}

.dock a:hover, .dock .hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);

    -webkit-text-shadow: 0 0 6px #fff;
    -moz-text-shadow: 0 0 6px #fff;
    -ms-text-shadow: 0 0 6px #fff;
    -o-text-shadow: 0 0 6px #fff;
    text-shadow: 0 0 6px #fff;
}

.dock-text {
    position: absolute;
    z-index: 200;
    left: 58px;
    top: 0;
    width: 136px;
    height: 100%;
    display: none;
    
    -webkit-text-shadow: 0 -1px 1px rgba(0,0,0,0.9);
    -moz-text-shadow: 0 -1px 1px rgba(0,0,0,0.9);
    -ms-text-shadow: 0 -1px 1px rgba(0,0,0,0.9);
    -o-text-shadow: 0 -1px 1px rgba(0,0,0,0.9);
    text-shadow: 0 -1px 1px rgba(0,0,0,0.9);
}

.dock-text a {
    color: #fff;
    font-size: 24px;
    line-height: 48px;
    display: block;
}

.dock-text a:first-child {
    margin-top: 75px;
}

.dock-text a:hover, .dock-text .hover {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    
    -webkit-text-shadow: 0 -1px 6px rgba(0,0,0,0.9);
    -moz-text-shadow: 0 -1px 6px rgba(0,0,0,0.9);
    -ms-text-shadow: 0 -1px 6px rgba(0,0,0,0.9);
    -o-text-shadow: 0 -1px 6px rgba(0,0,0,0.9);
    text-shadow: 0 -1px 6px rgba(0,0,0,0.9);
}

.bg-menu {
    position: absolute;
    z-index: 200;
    top: 0;
    left: 170px;
    width: 176px;
    height: 100%;
    display: none;
    
    background: -webkit-gradient(linear, left top, left bottom, 
        color-stop(0%,rgba(68,119,160,0.95)), 
        color-stop(30%,rgba(136,185,199,0.95)), 
        color-stop(60%,rgba(143,180,212,0.95)), 
        color-stop(80%,rgba(130,144,200,0.95)), 
        color-stop(100%,rgba(37,64,121,0.95)));
    background: -webkit-linear-gradient(top, 
        rgba(68,119,160,0.95) 0%, 
        rgba(136,185,199,0.95) 30%, 
        rgba(143,180,212,0.95) 60%, 
        rgba(130,144,200,0.95) 80%, 
        rgba(37,64,121,0.95) 100%);
    background: -moz-linear-gradient(top, 
        rgba(68,119,160,0.95) 0%, 
        rgba(136,185,199,0.95) 30%, 
        rgba(143,180,212,0.95) 60%, 
        rgba(130,144,200,0.95) 80%, 
        rgba(37,64,121,0.95) 100%);
    background: -ms-linear-gradient(top, 
        rgba(68,119,160,0.95) 0%, 
        rgba(136,185,199,0.95) 30%, 
        rgba(143,180,212,0.95) 60%, 
        rgba(130,144,200,0.95) 80%, 
        rgba(37,64,121,0.95) 100%);
    background: -o-linear-gradient(top, 
        rgba(68,119,160,0.95) 0%, 
        rgba(136,185,199,0.95) 30%, 
        rgba(143,180,212,0.95) 60%, 
        rgba(130,144,200,0.95) 80%, 
        rgba(37,64,121,0.95) 100%);
    background: linear-gradient(top, 
        rgba(68,119,160,0.95) 0%, 
        rgba(136,185,199,0.95) 30%, 
        rgba(143,180,212,0.95) 60%, 
        rgba(130,144,200,0.95) 80%, 
        rgba(37,64,121,0.95) 100%);
    
    -webkit-box-shadow: 8px 0 8px rgba(0,0,0,0.5);
    -moz-box-shadow: 8px 0 8px rgba(0,0,0,0.5);
    -ms-box-shadow: 8px 0 8px rgba(0,0,0,0.5);
    -o-box-shadow: 8px 0 8px rgba(0,0,0,0.5);
    box-shadow: 8px 0 8px rgba(0,0,0,0.5);
    
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.bg-menu div {
    height: 100%;
    background: #000;
    opacity: 0.3;
}

.menu-wrap {
    position: absolute;
    z-index: 201;
}

.menu {
    position: absolute;
    z-index: 201;
    top: 0;
    left: 63px;
    width: 160px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
}

.menu.level2 {
    left: 186px;
}

.menu a {
    display: block;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 18px;
    padding-left: 6px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    overflow: hidden;
    
    /*
    * margin-top: expression(this.previousSibling==null?'77px':'0');
    */
    
    -webkit-text-shadow: 0 0 2px rgba(0,0,0,0.8);
    -moz-text-shadow: 0 0 2px rgba(0,0,0,0.8);
    -ms-text-shadow: 0 0 2px rgba(0,0,0,0.8);
    -o-text-shadow: 0 0 2px rgba(0,0,0,0.8);
    text-shadow: 0 0 2px rgba(0,0,0,0.8);
}

.menu a:hover {
    -webkit-text-shadow: 0 0 8px #fff;
    -moz-text-shadow: 0 0 8px #fff;
    -ms-text-shadow: 0 0 8px #fff;
    -o-text-shadow: 0 0 8px #fff;
    text-shadow: 0 0 8px #fff;
}

.menu a:first-child {
    margin-top: 77px;
}

.menu hr {
    height: 2px;
    line-height: 2px;
    font-size: 2px;
    border: 0;
    margin: 0;
    padding: 0;

    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%);
    background: -moz-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(left, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%);
}

.menu hr:last-child {
    display: none;
}

.menu.level2 hr {
    margin-top: 1px;
    height: 1px;
    line-height: 1px;
    font-size: 1px;
    border: 0;
    
    background: #7be8ff;
    opacity: 0.6;
    -webkit-box-shadow: 0 0 6px #fff;
    -moz-box-shadow: 0 0 6px #fff;
    -ms-box-shadow: 0 0 6px #fff;
    -o-box-shadow: 0 0 6px #fff;
    box-shadow: 0 0 6px #fff;
}

.menu.level2 hr:last-child {
    display: block;
}


/* Page loader
 **************/
.animBgLarger {
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;    
    
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: both;    
    
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-out;
    -o-animation-fill-mode: both;    
    
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;    
    
    -webkit-animation-name: bgLarger;
    -moz-animation-name: bgLarger;
    -ms-animation-name: bgLarger;
    -o-animation-name: bgLarger;
    animation-name: bgLarger;
}

@-webkit-keyframes bgLarger { 
  0% { 
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% { 
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
  }
}
@-moz-keyframes bgLarger { 
    0% { 
        -moz-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        -moz-transform: scale(1.3);
        transform: scale(1.3);
    }
}
@-ms-keyframes bgLarger { 
    0% { 
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
}
@-o-keyframes bgLarger { 
    0% { 
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        -o-transform: scale(1.3);
        transform: scale(1.3);
    }
}
@keyframes bgLarger { 
    0% { 
        transform: scale(1);
    }
    100% { 
        transform: scale(1.3);
    }
}

.animBgSmaller {
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;    
    
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: both;    
    
    -o-animation-duration: 1s;
    -o-animation-timing-function: ease-out;
    -o-animation-fill-mode: both;    
    
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;    
    
    -webkit-animation-name:bgSmaller;
    -moz-animation-name:bgSmaller;
    -ms-animation-name:bgSmaller;
    -o-animation-name:bgSmaller;
    animation-name:bgSmaller;
}

@-webkit-keyframes bgSmaller { 
  0% { 
      -webkit-transform: scale(1.3);
      transform: scale(1.3);
  }
  100% { 
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
@-moz-keyframes bgSmaller { 
    0% { 
        -moz-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% { 
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-ms-keyframes bgSmaller { 
    0% { 
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% { 
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes bgSmaller { 
    0% { 
        -o-transform: scale(1.3);
        transform: scale(1.3);
    }
    100% { 
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes bgSmaller { 
    0% { 
        transform: scale(1.3);
    }
    100% { 
        transform: scale(1);
    }
}

.animShowFromLarger {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    
    -moz-animation-duration: 0.4s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;    
    
    -ms-animation-duration: 0.4s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: both;    
    
    -o-animation-duration: 0.4s;
    -o-animation-timing-function: ease-out;
    -o-animation-fill-mode: both;    
    
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;    
    
    -webkit-animation-name:showFromLarger;
    -moz-animation-name:showFromLarger;
    -ms-animation-name:showFromLarger;
    -o-animation-name:showFromLarger;
    animation-name:showFromLarger;
}

@-webkit-keyframes showFromLarger { 
  0% { 
      opacity: 0; 
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
  }
  100% { 
      opacity: 1; 
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
@-moz-keyframes showFromLarger { 
    0% { 
        opacity: 0; 
        -moz-transform: scale(1.4);
        transform: scale(1.4);
    }
    100% { 
        opacity: 1; 
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-ms-keyframes showFromLarger { 
    0% { 
        opacity: 0; 
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }
    100% { 
        opacity: 1; 
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes showFromLarger { 
    0% { 
        opacity: 0; 
        -o-transform: scale(1.4);
        transform: scale(1.4);
    }
    100% { 
        opacity: 1; 
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes showFromLarger { 
    0% { 
        opacity: 0; 
        transform: scale(1.4);
    }
    100% { 
        opacity: 1; 
        transform: scale(1);
    }
}

.animShowFromSmaller {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    
    -moz-animation-duration: 0.4s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;    
    
    -ms-animation-duration: 0.4s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: both;    
    
    -o-animation-duration: 0.4s;
    -o-animation-timing-function: ease-out;
    -o-animation-fill-mode: both;    
    
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;    
    
    -webkit-animation-name:showFromSmaller;
    -moz-animation-name:showFromSmaller;
    -ms-animation-name:showFromSmaller;
    -o-animation-name:showFromSmaller;
    animation-name:showFromSmaller;
}

@-webkit-keyframes showFromSmaller { 
  0% { 
      opacity: 0; 
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
  }
  100% { 
      opacity: 1; 
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
@-moz-keyframes showFromSmaller { 
    0% { 
        opacity: 0; 
        -moz-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% { 
        opacity: 1; 
        -moz-transform: scale(1);
        transform: scale(1);
    }
}
@-ms-keyframes showFromSmaller { 
    0% { 
        opacity: 0; 
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% { 
        opacity: 1; 
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@-o-keyframes showFromSmaller { 
    0% { 
        opacity: 0; 
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    100% { 
        opacity: 1; 
        -o-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes showFromSmaller { 
    0% { 
        opacity: 0; 
        transform: scale(0.7);
    }
    100% { 
        opacity: 1; 
        transform: scale(1);
    }
}

.animHideToLarger {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;    
    
    -ms-animation-duration: 0.3s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: both;    
    
    -o-animation-duration: 0.3s;
    -o-animation-timing-function: ease-out;
    -o-animation-fill-mode: both;    
    
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;    
    
    -webkit-animation-name:hideToLarger;
    -moz-animation-name:hideToLarger;
    -ms-animation-name:hideToLarger;
    -o-animation-name:hideToLarger;
    animation-name:hideToLarger;
}

@-webkit-keyframes hideToLarger { 
  0% { 
      opacity: 1; 
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% { 
      opacity: 0; 
      -webkit-transform: scale(1.4);
      transform: scale(1.4);
  }
}
@-moz-keyframes hideToLarger { 
    0% { 
        opacity: 1; 
        -moz-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        opacity: 0; 
        -moz-transform: scale(1.4);
        transform: scale(1.4);
    }
}
@-ms-keyframes hideToLarger { 
    0% { 
        opacity: 1; 
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        opacity: 0; 
        -ms-transform: scale(1.4);
        transform: scale(1.4);
    }
}
@-o-keyframes hideToLarger { 
    0% { 
        opacity: 1; 
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        opacity: 0; 
        -o-transform: scale(1.4);
        transform: scale(1.4);
    }
}
@keyframes hideToLarger { 
    0% { 
        opacity: 1; 
        transform: scale(1);
    }
    100% { 
        opacity: 0; 
        transform: scale(1.4);
    }
}

.animHideToSmaller {
    -webkit-animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: both;
    
    -moz-animation-duration: 0.3s;
    -moz-animation-timing-function: ease-out;
    -moz-animation-fill-mode: both;    
    
    -ms-animation-duration: 0.3s;
    -ms-animation-timing-function: ease-out;
    -ms-animation-fill-mode: both;    
    
    -o-animation-duration: 0.3s;
    -o-animation-timing-function: ease-out;
    -o-animation-fill-mode: both;    
    
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;    
    
    -webkit-animation-name:hideToSmaller;
    -moz-animation-name:hideToSmaller;
    -ms-animation-name:hideToSmaller;
    -o-animation-name:hideToSmaller;
    animation-name:hideToSmaller;
}

@-webkit-keyframes hideToSmaller { 
  0% { 
      opacity: 1; 
      -webkit-transform: scale(1);
      transform: scale(1);
  }
  100% { 
      opacity: 0; 
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
  }
}
@-moz-keyframes hideToSmaller { 
    0% { 
        opacity: 1; 
        -moz-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        opacity: 0; 
        -moz-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@-ms-keyframes hideToSmaller { 
    0% { 
        opacity: 1; 
        -ms-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        opacity: 0; 
        -ms-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@-o-keyframes hideToSmaller { 
    0% { 
        opacity: 1; 
        -o-transform: scale(1);
        transform: scale(1);
    }
    100% { 
        opacity: 0; 
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
}
@keyframes hideToSmaller { 
    0% { 
        opacity: 1; 
        transform: scale(1);
    }
    100% { 
        opacity: 0; 
        transform: scale(0.7);
    }
}


/* Page showcase
 ****************/
.page-cover {
    position: absolute;
    z-index: 610;
    left: 0;
    top: 0;
    background: rgba(0, 29, 153, 0.6);
    border: 2px solid rgba(0, 29, 153, 0.6);
    
    -webkit-box-shadow: inset 0 0 64px rgba(65, 0, 122, 0.7);
    -moz-box-shadow: inset 0 0 64px rgba(65, 0, 122, 0.7);
    -ms-box-shadow: inset 0 0 64px rgba(65, 0, 122, 0.7);
    -o-box-shadow: inset 0 0 64px rgba(65, 0, 122, 0.7);
    box-shadow: inset 0 0 64px rgba(65, 0, 122, 0.7);
}

.page-cover-now {
    background: rgba(61,158,213,0.5);
    border: 2px solid rgba(255,255,255, 0.6);
    -webkit-box-shadow: inset 0 0 16px rgba(110,194,242, 0.9);
    -moz-box-shadow: inset 0 0 16px rgba(110,194,242, 0.9);
    -ms-box-shadow: inset 0 0 16px rgba(110,194,242, 0.9);
    -o-box-shadow: inset 0 0 16px rgba(110,194,242, 0.9);
    box-shadow: inset 0 0 16px rgba(110,194,242, 0.9);
}

.page-cover h2 {
    color: #fff;
    font-size: 22px;
    line-height: 32px;
    margin-top: 39%;
    text-align: center;
    -webkit-text-shadow: 0 1px 8px #000;
    -moz-text-shadow: 0 1px 8px #000;
    -ms-text-shadow: 0 1px 8px #000;
    -o-text-shadow: 0 1px 8px #000;
    text-shadow: 0 1px 8px #000;
}

.page-cover-hover {
    -webkit-animation: shinyPageCover 1500ms linear infinite;
    -moz-animation: shinyPageCover 1500ms linear infinite;
    -ms-animation: shinyPageCover 1500ms linear infinite;
    -o-animation: shinyPageCover 1500ms linear infinite;
    animation: shinyPageCover 1500ms linear infinite;
}

@-webkit-keyframes shinyPageCover {
    0% {
        border: 2px solid rgba(255,255,255,0.5);
        -webkit-box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
    50% {
        border: 2px solid rgba(255,255,255,0.9);
        -webkit-box-shadow: 0 0 32px rgba(255,255,255, 0.9);
    }
    100% {
        border: 2px solid rgba(255,255,255,0.5);
        -webkit-box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
}

@-moz-keyframes shinyPageCover {
    0% {
        border: 2px solid rgba(255,255,255,0.5);
        -moz-box-shadow: 0 0 16px rgba(255,255,255, 0.7);
        box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
    50% {
        border: 2px solid rgba(255,255,255,0.9);
        -moz-box-shadow: 0 0 32px rgba(255,255,255, 0.9);
        box-shadow: 0 0 32px rgba(255,255,255, 0.9);
    }
    100% {
        border: 2px solid rgba(255,255,255,0.5);
        -moz-box-shadow: 0 0 16px rgba(255,255,255, 0.7);
        box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
}

@-ms-keyframes shinyPageCover {
    0% {
        border: 2px solid rgba(255,255,255,0.5);
        -ms-box-shadow: 0 0 16px rgba(255,255,255, 0.7);
        box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
    50% {
        border: 2px solid rgba(255,255,255,0.9);
        -ms-box-shadow: 0 0 32px rgba(255,255,255, 0.9);
        box-shadow: 0 0 32px rgba(255,255,255, 0.9);
    }
    100% {
        border: 2px solid rgba(255,255,255,0.5);
        -ms-box-shadow: 0 0 16px rgba(255,255,255, 0.7);
        box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
}

@-o-keyframes shinyPageCover {
    0% {
        border: 2px solid rgba(255,255,255,0.5);
        -o-box-shadow: 0 0 16px rgba(255,255,255, 0.7);
        box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
    50% {
        border: 2px solid rgba(255,255,255,0.9);
        -o-box-shadow: 0 0 32px rgba(255,255,255, 0.9);
        box-shadow: 0 0 32px rgba(255,255,255, 0.9);
    }
    100% {
        border: 2px solid rgba(255,255,255,0.5);
        -o-box-shadow: 0 0 16px rgba(255,255,255, 0.7);
        box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
}

@keyframes shinyPageCover {
    0% {
        border: 2px solid rgba(255,255,255,0.5);
        box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
    50% {
        border: 2px solid rgba(255,255,255,0.9);
        box-shadow: 0 0 32px rgba(255,255,255, 0.9);
    }
    100% {
        border: 2px solid rgba(255,255,255,0.5);
        box-shadow: 0 0 16px rgba(255,255,255, 0.7);
    }
}

.frame-loading {
    position: absolute;
    z-index: 599;
    top: 32%;
    left: 50%;
    display: none;
    margin-left: -160px;
    width: 260px;
    height: 136px;
    line-height: 132px;
    text-align: center;
    padding: 20px 30px;
    font-size: 36px;
    color: #fff;
    border: 2px solid #fff;
    -webkit-box-shadow:inset 0 0 22px #fff;
    -moz-box-shadow:inset 0 0 22px #fff;
    box-shadow:inset 0 0 22px #fff;
}
